nav.navAppriz ul li.active a, nav.navAppriz ul li a:hover {
	color : #0E669D;
}


.bankSection {
	background: #FFFFFF;
	  border-bottom: 2px solid #0078C1;
}



.topHeader {
  background: #FFFFFF;

}


.magicalArrow{
	color: #0E669D;
}

#categories li .infoBank h2 {
	color : #444444;
}

.unread{
	color: #0E669D;
}
#categories li .icon-arrow .path1::before {
	color : #0E669D;
}

#categories li .icon-myAlerts .path1::before, .icon-notifications, .icon-alerts, .icon-promotions, .icon-services {
	color : #0E669D;
}

.contentMenu ul li button:hover .icon-myAlerts .path1:before {
   color : #0E669D;
}



nav.categoryNav {
    background: none repeat scroll 0% 0% #484142;
}

#entities .newEntity {
	background: none repeat scroll 0% 0% #0E669D;
}

#categories .details h3, .details_ h3 {
    color: #0E669D;
}



nav.categoryNav .icon-myAlerts.active .path1:before {
    content: "\e60b";
    color: #0E669D;

}

nav.categoryNav span.active:before {
    color: #0E669D
}


.options .optionBtn {
    background: #0E669D;
}

.options .btnBank2:hover {
    background: #0E669D;
}

.dropdownOption ul li {
    border-bottom: 1px solid #005B99 !important;
}

.oneOption {
	color: #0E669D;
}

nav.navAppriz ul li.active a {
    color: #0E669D;

}

nav.navAppriz ul li.active a, nav.navAppriz ul li a:hover {
    color: #0E669D;
}

.contentMenu ul li button:hover .icon1 {
    color: #0E669D;

}

.products ul li button , .services ul li button{
	color: #0E669D;
}

.products h3 {
    color: #0E669D;
}

nav.categoryNav span {
    content: "\e60b";
	color: #D5D4D3;
    /*color: rgb(85, 185, 73);*/
}

nav.categoryNav span.active{
    content: "\e60b";
	color: #0E669D;
    /*color: rgb(85, 185, 73);*/
}

.editOption li input {
	color: #0E669D;
}

.editOption li select{
	color: #0E669D;
}

.products ul li button .icon-arrow .path1::before, .services ul li button .icon-arrow .path1::before {
	color: #0E669D;
}

.productNav li.active button{
	color: #0E669D;
}

.productNav .icon-myAlerts .path1::before {
	color: #0E669D;
}

input.toggle:checked + label::before {
	 background: #0E669D;
}

.productNav li button{
	 background: #C4C4C4;
}



#colorHandle{
	display : none;
	color: 0E669D;
}

.bankLogo img {
  margin-top: 1px;
 
}


